<?xml version="1.0" encoding="UTF-8"?>
<odoo>
<data>

    <record model="ir.actions.act_window" id="netaddiction_show_base">
        <field name="name">Fiere</field>
        <field name="res_model">netaddiction.show</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">
                Non ci sono Fiere.
            </p>
        </field>
    </record>

    <menuitem id="menu_netaddiction_show"
              name="Fiere"
              sequence="31"
              />

    <menuitem id="menu_netaddiction_show_base"
              name="Fiere"
              sequence="10"
              action="netaddiction_show_base"
              parent="menu_netaddiction_show"
              />

    <record model="ir.actions.act_url" id="netaddiction_show_link">
        <field name="name">Mobile App</field>
        <field name="url">/show</field>
        <field name="target">self</field>
    </record>

    <menuitem id="menu_netaddiction_show_app_base"
              name="Mobile App"
              sequence="20"
              action="netaddiction_show_link"
              parent="menu_netaddiction_show"
              />

    <record model="ir.actions.act_window" id="netaddiction_show_returned">
        <field name="name">Ritorno Prodotti</field>
        <field name="res_model">netaddiction.show.returned.move</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>

    <menuitem id="menu_netaddiction_show_returned_menu"
              name="Ritorno Prodotti"
              sequence="15"
              action="netaddiction_show_returned"
              parent="menu_netaddiction_show"
              />

</data>
</odoo>
