[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = https://github.com/OCA/l10n-italy.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 14.0

[submodule "saydigital/sale-workflow"]
	path = saydigital/sale-workflow
	url = git@github.com:saydigital/sale-workflow.git
	branch = 14.0
[submodule "saydigital/ecommerce"]
	path = saydigital/ecommerce
	url = git@github.com:saydigital/ecommerce.git
	branch = 14.0

[submodule "saydigital/website"]
	path = saydigital/website
	url = git@github.com:saydigital/website.git
	branch = 14.0
[submodule "OCA/website"]
	path = OCA/website
	url = https://github.com/OCA/website.git
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = https://github.com/OCA/server-ux
