<table border="0" cellpadding="0" cellspacing="0" style="padding-top:16px; padding-bottom:16px;background-color: #F1F1F1; font-family:Verdana, Arial,sans-serif; color: #454748; width: 100%; border-collapse:separate;">
  <tbody>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="622" style="background-color: black; padding: 10px; color: #454748; border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <a href="https://multiplayer.com/" target="_blank">
                  <img src="https://s3-eu-west-1.amazonaws.com/topolio/uploads/614c6c5a69c71/1632398664.jpg" width="250">
                </a>
              </td>
              <td class="text-align:right;">
                <a href="https://t.me/multiplayershop" target="_blank" style="display: block; text-align: right;">
                  <img src="https://s3-eu-west-1.amazonaws.com/topolio/uploads/614c6c5a69c71/1632400337.jpg" width="300">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" style="min-width:622;">
        <table border="0" cellpadding="0" cellspacing="0" width="622" style="min-width:622px;background-color: white; padding: 0px 8px 0px 8px; border-collapse:separate;">
          <tbody>
            <tr>
              <td valign="top" style="font-size:13px;">
                <div>
                  <br />
                  Gentile cliente,<br />
                  La ricarica del suo portafoglio è stata eseguita con successo.<br /><br />
                  Cordiali saluti,<br /><br />
                  ${user.signature | safe}<br />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table border="0" cellpadding="10" cellspacing="0" width="622" style="background-color: black; padding: 10px; color: #454748; border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <p style="font-size: 11px; color: #FFF;">Multiplayer.com
                  <span>è parte del gruppo editoriale NetAddiction s.r.l.</span>
                </p>
                <p style="font-size: 11px; color: #FFF;">0744 2462990
                  | <a href="mailto:shopping@multiplayer.com" style="color: #FFF;">shopping@multiplayer.com</a>
                  | <a href="//multiplayer.com" style="color: #FFF;">www.multiplayer.com</a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>