<table border="0" cellpadding="0" cellspacing="0" style="padding-top:16px; padding-bottom:16px;background-color: #F1F1F1; font-family:Verdana, Arial,sans-serif; color: #454748; width: 100%; border-collapse:separate;">
  <tbody>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="715px" style="background-color: black; padding: 10px; color: #454748; border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <a href="https://multiplayer.com/" target="_blank">
                  <img src="https://s3-eu-west-1.amazonaws.com/topolio/uploads/614c6c5a69c71/1632398664.jpg" width="250">
                </a>
              </td>
              <td class="text-align:right;">
                <a href="https://t.me/multiplayershop" target="_blank" style="display: block; text-align: right;">
                  <img src="https://s3-eu-west-1.amazonaws.com/topolio/uploads/614c6c5a69c71/1632400337.jpg" width="300">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" style="min-width:700px;">
        <table border="0" cellpadding="0" cellspacing="0" width="700px" style="min-width:700px;background-color: white; padding: 0px 8px 0px 8px; border-collapse:separate;">
          <tbody>
            <tr>
              <td valign="top" style="font-size:13px;">
                <div>
                  <br />
                  Gentile cliente,<br />
                  Abbiamo ricevuto la sua richiesta d'ordine, <b>${object.name}</b>, di importo pari a <b>${format_amount(object.amount_total, object.currency_id)}</b>.<br />
                  % if object.website_id:
                    <div style="margin-top: 20px; padding: 0px;">
                      <table width="700px" style="color: #454748; font-size: 12px; border-collapse: collapse;">
                          <tr style="border-bottom: 2px solid #dee2e6;">
                              <td width="18%"><strong>Prodotti</strong></td>
                              <td/>
                              <td><strong>Quantità</strong></td>
                              <td width="10%" align="center"><strong>Prezzo</strong></td>
                          </tr>
                      </table>
                      % for line in object.order_line:
                          % if not line.is_delivery and line.display_type in ['line_section', 'line_note']:
                              <table width="700px" style="color: #454748; font-size: 12px; border-collapse: collapse;">
                                  <tr style="${loop.cycle('background-color: #f2f2f2', 'background-color: #ffffff')}">
                                      <td colspan="4">
                                          % if line.display_type == 'line_section':
                                              <strong>${line.name}</strong>
                                          % elif line.display_type == 'line_note':
                                              <i>${line.name}</i>
                                          % endif
                                      </td>
                                  </tr>
                              </table>
                          % elif not line.is_delivery
                              <table width="700px" style="color: #454748; font-size: 12px; border-collapse: collapse;">
                                  <tr style="${loop.cycle('background-color: #f2f2f2', 'background-color: #ffffff')}">
                                      <td style="width: 150px;">
                                          <img src="/web/image/product.product/${line.product_id.id}/image_128" style="width: 64px; height: 64px; object-fit: contain;" alt="Product image"/>
                                      </td>
                                      <td align="left">${line.product_id.name}</td>
                                      <td>${line.product_uom_qty}</td>
                                      % if object.user_id.has_group('account.group_show_line_subtotals_tax_excluded'):
                                          <td align="right">${format_amount(line.price_reduce_taxexcl, object.currency_id)}</td>
                                      % endif
                                      % if object.user_id.has_group('account.group_show_line_subtotals_tax_included'):
                                          <td align="right">${format_amount(line.price_reduce_taxinc, object.currency_id)}</td>
                                      % endif
                                  </tr>
                              </table>
                          % endif
                      % endfor
                    </div>
                    % if object.carrier_id:
                      <div style="margin-top: 20px; padding: 0px;">
                          <table width="700px" style="color: #454748; font-size: 12px; border-spacing: 0px 4px;" align="right">
                              <tr>
                                  <td style="width: 60%"/>
                                  <td style="width: 30%; border-top: 1px solid #dee2e6;" align="right"><strong>Consegna:</strong></td>
                                  <td style="width: 10%; border-top: 1px solid #dee2e6;" align="right">${format_amount(object.amount_delivery, object.currency_id)}</td>
                              </tr>
                              <tr>
                                  <td style="width: 60%"/>
                                  <td style="width: 30%;" align="right"><strong>SubTotale:</strong></td>
                                  <td style="width: 10%;" align="right">${format_amount(object.amount_untaxed, object.currency_id)}</td>
                              </tr>
                          </table>
                      </div>
                    % else:
                      <div style="margin-top: 20px; padding: 0px;">
                          <table width="700px" style="color: #454748; font-size: 12px; border-spacing: 0px 4px;" align="right">
                              <tr>
                                  <td style="width: 60%"/>
                                  <td style="width: 30%; border-top: 1px solid #dee2e6;" align="right"><strong>SubTotale:</strong></td>
                                  <td style="width: 10%; border-top: 1px solid #dee2e6;" align="right">${format_amount(object.amount_untaxed, object.currency_id)}</td>
                              </tr>
                          </table>
                      </div>
                    % endif
                    <div style="margin: 0px; padding: 0px;">
                      <table width="700px" style="color: #454748; font-size: 12px; border-spacing: 0px 4px;" align="right">
                        <tr>
                          <td style="width: 60%"/>
                          <td style="width: 30%;" align="right"><strong>Tasse:</strong></td>
                          <td style="width: 10%;" align="right">${format_amount(object.amount_tax, object.currency_id)}</td>
                        </tr>
                        <tr>
                          <td style="width: 60%"/>
                          <td style="width: 30%; border-top: 1px solid #dee2e6;" align="right"><strong>Totale:</strong></td>
                          <td style="width: 10%; border-top: 1px solid #dee2e6;" align="right">${format_amount(object.amount_total, object.currency_id)}</td>
                        </tr>
                      </table>
                    </div>
                    % if object.partner_shipping_id and not object.only_services:
                      <div style="margin: 0px; padding: 0px;">
                        <table width="700px" style="color: #454748; font-size: 12px;">
                          <tr>
                            <td>
                              <br />
                              <strong>Indirizzo di spedizione:</strong>
                              ${object.partner_shipping_id.street or ''}
                              ${object.partner_shipping_id.city or ''}
                              ${object.partner_shipping_id.state_id.name or ''}
                              ${object.partner_shipping_id.zip or ''}
                              ${object.partner_shipping_id.country_id.name or ''}
                            </td>
                          </tr>
                        </table>
                        % if object.carrier_id:
                        <table width="700px" style="color: #454748; font-size: 12px;">
                          <tr>
                            <td>
                              <strong>Modalità di spedizione:</strong>
                              ${object.carrier_id.name}
                              % if object.carrier_id.fixed_price == 0.0:
                              (Free)
                              % else:
                              (${format_amount(object.carrier_id.fixed_price, object.currency_id)})
                              % endif
                            </td>
                          </tr>
                        </table>
                        % endif
                      </div>
                    % endif
                  % endif
                  <br />
                  Grazie per aver scelto <b>Multiplayer.com</b>
                  <br /><br />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table border="0" cellpadding="10" cellspacing="0" width="715px" style="background-color: black; padding: 10px; color: #454748; border-collapse:separate;">
          <tbody>
            <tr>
              <td>
                <p style="font-size: 11px; color: #FFF;">Multiplayer.com
                  <span>è parte del gruppo editoriale NetAddiction s.r.l.</span>
                </p>
                <p style="font-size: 11px; color: #FFF;">0744 2462990
                  | <a href="mailto:shopping@multiplayer.com" style="color: #FFF;">shopping@multiplayer.com</a>
                  | <a href="//multiplayer.com" style="color: #FFF;">www.multiplayer.com</a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>