<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        

        <record id="netaddiction_groupon_config" model="ir.ui.view">
            <field name="name">Configurazioni Groupon</field>
            <field name="model">netaddiction.groupon.config</field>
            <field name="arch" type="xml">
                <form string="Manifest" class="oe_form_configuration">
                    <header>
                        <button string="Save" type="object"
                            name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                            name="cancel" class="oe_link"/>
                    </header>
                    
                    <group>
                        <div>
                            <div>
                                <label for="groupon_customer_id"/>
                                <field name="groupon_customer_id"/>
                            </div>

                        </div>
                    </group>
                </form>
            </field>
        </record>

        <record id="netaddiction_groupon_config_action" model="ir.actions.act_window">
            <field name="name">Configurazione</field>
            <field name="res_model">netaddiction.groupon.config</field>
            <field name="view_id" ref="netaddiction_groupon_config"/>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
        </record>

        <menuitem id="netaddiction_groupon_config_menu" name="Configurazione"
                      parent="menu_netaddiction_groupon" action="netaddiction_groupon_config_action"/>
    </data>
</openerp>