/*
* Copyright 2021 Netaddiction
*/
*{
    font-family: 'Montserrat' !important;
}


/*disattivare il fixed header dal tema*/
/*impostare il logo del tema a larghezza 400*/
/*impostare ottavo bottone del tema*/
/*impostare questo come primary color nel tema var(--primary)*/
/*impostare questo come header text color nel tema #3d3d3d*/

/*impostare il background del footer #343a40*/
/*impostare il colore testo del footer var(--white)*/
/*impostare il quinto footer*/

:root {
    --primary: #f6842a !important;
    --secondary: #3d3d3d !important;
    --black:#000000;
    --white: #ffffff;
    --light-gray:#cccccc;
    --extra-light-gray:#f5f5f5;
}
#wrapwrap > main{
    margin-top:44px;
    min-height: 100vh !important;
}
.navbar-brand img{
    display: none !important;
}
.navbar-brand{
    margin-left:15px;
    width:40px;
    height: 45px;
    background-image:url(../img/logo-mcom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.o_wsale_products_searchbar_form{
    width:calc(100% - 40px) !important;
    margin-left:40px;
}
.navbar-toggler{
    position: absolute;
    top: 48px;
}
.navbar > .oe_structure{
    display:none;
}
.nav-link::before{
    display:none !important;
}
.nav-item > .active{
    color:var(--primary) !important;
}
.te_advanced_search_div{
    display: none;
}
header nav.navbar .header_middle .te_search_popover .input-group{
    border:none !important;
}
header nav.navbar .header_middle .te_search_popover button.oe_search_button{
    background-color: var(--white) !important;
    outline: none !important;
    box-shadow: none !important;
}

header nav.navbar .header_middle .te_search_popover button.oe_search_button > i{
    color:var(--white) !important;
}

header nav.navbar .header_middle .te_header_right_icon > div, header nav.navbar .header_middle .te_header_right_icon li{
    border-right:none !important;
}
.te_srch_icon_header{
    display: none !important;
}
.te_search_popover{
    background-color: var(--white);
    visibility: visible !important;
    transform:translateY(-24px) !important;
    opacity: 1 !important;
}

/*breadcrumb*/
.te_product_breadcrumb, .te_shop_breadcrumb{
    background-color:var(--secondary) !important;
    z-index:7 !important;
}
.breadcrumb-item > a{
    color:var(--white) !important;
}
.breadcrumb .active{
    color:var(--primary) !important;
}

@media only screen and (min-width: 768px) {
    #wrapwrap > main{
        margin-top:0px;
    }
    .te_search_popover{
        transform:translateY(0) !important;
    }

    .navbar-brand{
        margin-left:20px;
        width:275px;
        height: 45px;
        background-image:url(../img/logo.png);
    }

    .middle_first{
        display: flex;
        flex-direction: row-reverse;
    }
    .middle_first *{
        align-items: center;
    }
    .navbar-toggler-icon{
        display: none !important;
    }
    header nav.navbar .header_middle .middle_first .te_bar_icon{
        display: inherit !important;
    }
    .navbar-toggler{
        position: inherit;
    }
    header nav.navbar .header_middle .te_search_popover .input-group input.form-control{
        border-bottom:1px solid var(--light-gray) !important;
    }
}