/*
* Copyright 2021 Netaddiction
*/
*{
    font-family: 'Montserrat' !important;
}

/*disattivare il fixed header dal tema*/
/*impostare il logo del tema a larghezza 400*/
/*impostare ottavo bottone del tema*/
/*impostare questo come primary color nel tema var(--primary)*/
/*impostare questo come header text color nel tema #3d3d3d*/

/*impostare il background del footer #343a40*/
/*impostare il colore testo del footer var(--white)*/
/*impostare il quinto footer*/

:root {
    --primary: #f6842a !important;
    --light-primary: #f0af7d !important;
    --secondary: #3d3d3d !important;
    --black:#000000;
    --white: #ffffff;
    --light-gray:#cccccc;
    --extra-light-gray:#f5f5f5;
    --light-green:#c4dac6;
}

/*SCROLLBAR CUSTOM*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary); 
} 


#wrapwrap > main{
    margin-top:44px;
    min-height: 100vh !important;
}
.navbar-brand img{
    display: none !important;
}
.navbar-brand{
    margin-left:15px;
    width:40px;
    height: 45px;
    background-image:url(../img/logo-mcom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.o_wsale_products_searchbar_form{
    width:calc(100% - 40px) !important;
    margin-left:40px;
}
.navbar-toggler{
    position: absolute;
    top: 48px;
}
.navbar > .oe_structure{
    display:none;
}
.nav-link::before{
    display:none !important;
}
.nav-item > .active{
    color:var(--primary) !important;
}
.te_advanced_search_div{
    display: none;
}
header nav.navbar .header_middle .te_search_popover .input-group{
    border:none !important;
}
header nav.navbar .header_middle .te_search_popover button.oe_search_button{
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

header nav.navbar .header_middle .te_search_popover button.oe_search_button > i{
    color:var(--white) !important;
}

header nav.navbar .header_middle .te_header_right_icon > div, header nav.navbar .header_middle .te_header_right_icon li{
    border-right:none !important;
}
.te_srch_icon_header{
    display: none !important;
}
.te_search_popover{
    background-color: var(--white);
    visibility: visible !important;
    transform:translateY(-24px) !important;
    opacity: 1 !important;
}

/*breadcrumb*/
.te_product_breadcrumb, .te_shop_breadcrumb{
    background-color:var(--secondary) !important;
    z-index:7 !important;
}
.breadcrumb-item > a, .breadcrumb-item > span{
    color:var(--white) !important;
}
.breadcrumb-item:last-child > a, .breadcrumb-item:last-child > span{
    color:var(--primary) !important;
}


/*bordi griglie prodotti*/
.o_carousel_product_card, .o_carousel_product_card_body, #products_grid .table .o_wsale_product_grid_wrapper .card.oe_product_cart{
    border:none !important;
    padding:10px;
}
.o_wsale_products_item_title > a{
    font-weight: 800;
    color:var(--secondary) !important;
}
.o_wsale_products_item_title > a:nth-child(2){
    font-weight: 600;
    color:var(--primary) !important;
}

/*ADD TO CART VISTI DI RECENTE*/
.js_add_cart, .js_add_cart_json{
    background-color:var(--white) !important;
    color:var(--primary);
    border:1px solid var(--primary) !important;
}
.js_add_cart:hover{
    background-color:var(--primary) !important;
}

header nav.navbar .header_middle .te_search_popover .input-group input.form-control{
    border-bottom: 1px solid var(--light-gray) !important;
}


.products_pager{
    position: initial !important;
}

.product-label-container{
    top:0;
    left:0;
    max-width:110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.product-label-container > .label{
    font-size:11px;
    padding:5px;
    color:var(--white);
    border-radius:3px;
    margin-bottom:5px;
    transform:skew(-0.06turn, 0deg);
}
.product-label-container > .label-news{
    background-color: #dc3545;
}
.product-label-container > .label-preorder{
    background-color: #007bff;
}
.product-label-container > .label-out{
    background-color: #ffc107;
    color:#000;
}
.product-label-container > .label-in{
    background-color: #28a745;
}
.product-label-container > .label-request{
    background-color: var(--primary);
}

.te_prod_info_sub .oe_currency_value, .o_carousel_product_card_footer .oe_currency_value{
    font-size: 28px;
}
.te_prod_info_sub .product_price span, .o_carousel_product_card_footer .font-weight-bold{
    color:var(--primary) !important;
    font-weight: 400 !important;
}


#products_grid .te_shop_grid h6.o_wsale_products_item_title .product_name, .te_prod_info_sub .product_name, .te_recently_viewed .te_rect_name{
    -webkit-line-clamp: inherit !important;
    height: 45px !important;
    font-weight: 600 !important;
}

.te_slider_4_content .te_prod_info_4 .btn{
    color:#3d3d3d;
}
.te_slider_4_content .te_slider_img{
    border:none !important;
    box-shadow: none !important;
}

.o_cc5 .btn-fill-secondary, .o_footer .btn-fill-secondary, .o_cc5 .btn-secondary, .o_footer .btn-secondary, .o_colored_level .o_cc5 .btn-fill-secondary, .o_colored_level .o_footer .btn-fill-secondary, .o_colored_level .o_cc5 .btn-secondary, .o_colored_level .o_footer .btn-secondary{
    background-color:var(--primary);
}

.te_prod_info_3 .product_name {
    color:#3d3d3d;
}
.te_product_slider_3 .te_prod_info_3 .te_prod_info_sub .te_prod_cart_wish_3 .btn{
    border-color:#cccccc !important;
    color:#000 !important;
}

.te_product_ind{
    border:none !important;
}

@media only screen and (min-width: 768px) {
    #wrapwrap > main{
        margin-top:0px;
    }
    .te_search_popover{
        transform:translateY(0) !important;
    }

    .middle_first{
        display: flex;
        flex-direction: row-reverse;
    }
    .middle_first *{
        align-items: center;
    }
    .navbar-toggler-icon{
        display: none !important;
    }
    header nav.navbar .header_middle .middle_first .te_bar_icon{
        display: inherit !important;
    }
    .navbar-toggler{
        position: inherit;
    }
    header nav.navbar .header_middle .te_search_popover .input-group input.form-control{
        border-bottom:1px solid var(--light-gray) !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    #products_grid:not(.o_wsale_layout_list) table, #products_grid:not(.o_wsale_layout_list) tbody, #products_grid:not(.o_wsale_layout_list) tr{
        display: block !important;
    }

    #products_grid > div > table .te_shop_grid{
        width:48% !important;
    }
    #products_grid .te_shop_grid .te_product_info .o_wsale_product_btn{
        display: flex !important;
    }
    #products_grid .te_shop_grid .te_product_info .o_wsale_product_btn > a{
        margin-right:5px !important;
    }
}

@media only screen and (min-width: 1024px){
    .navbar-brand{
        margin-left:20px;
        width:275px;
        height: 45px;
        background-image:url(../img/logo.png);
    }
}
