/*
* Copyright 2021 Netaddiction
*/

/*PALLINI SLIDER FULL SCREEN*/
.carousel-indicators{
    z-index:7 !important;
}

/*COMPOSIZIONE IMG HOME*/
.te_offer_s7_img_big{
    width:100% !important;
}
.te_offer_s7_img_small > img, .te_offer_s7_img_big > img{
    object-fit:cover;
    object-position: center;
    height:350px;
    cursor: pointer;
    width:100% !important;
    border:1px solid var(--light-gray);
    outline: 1px solid var(--primary);
    outline-offset: -10px;
}
.te_offer_big_img_content, .te_offer_small_img_content{
    cursor: pointer;
}

.te_4_col_content{
    border:1px solid var(--light-gray);
}

.te_4_col_content > .te_s_5_img{
    display:none !important;
}

.te_4_col_content > .te_extra_btn, .o_colored_level > .te_extra_btn > a{
    color:var(--primary) !important;
}

@media only screen and (min-width: 920px) {
    .big-category-cover{
        height:445px !important;
    }
    .small-category-cover{
        height:300px !important;
    }
}