/*BOTTONI INIZIALI PRODOTTO & BOTTONI QUANTITÀ*/
#product_option_block > .te_theme_button, .css_quantity a, .te_product_media > button{
    background-color:var(--white) !important;
    color:var(--primary) !important;
    border:1px solid var(--primary) !important;
    box-shadow: none !important;
    outline: none !important;
}
/*CAMPO QUANTITÀ*/
.css_quantity input{
    border-radius:0px !important;
    border:1px solid var(--secondary) !important;
    box-shadow: none !important;
    outline: none !important;
}

#product_option_block .te_theme_button:hover:before, #product_option_block .te_theme_button:hover:after{
    display: none !important;
}

/*azzero lo shift*/
.te_product_media, div.owl-stage>div.owl-item>div>img.img{
    height:257px !important;
    width:100% !important;
    object-fit: contain;
}

.te_product_media > .te_prod_desc{
    display: none;
}
#product_details{
    height: fit-content !important;
}

.drift-zoom-pane img{
    object-fit: contain !important;
}

/*TITOLO*/
h1.te_product_name{
    margin-top:40px;
    font-weight:800;
}

/*PREZZO*/
.js_product .oe_price_h4 .oe_price{
    font-size: 40px !important;
    font-weight: 600;
}
.js_product .oe_price_h4 .oe_default_price{
    font-size: 25px !important;
    font-weight: 400;
}


/*TAB*/
.tabs_container_main ul#te_product_tabs li a.active, .tabs_container_main ul#te_product_tabs li a:hover:after{
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, var(--primary), var(--light-green));
}
.nav-item .active > span{
    color:var(--black) !important;
}

/*BUNDLE*/
.overflow-gradient{
    position: relative;
}
.overflow-gradient::after{
    content: '';
    width:30px;
    height:100%;
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}
.product-bundle-container{
    width:100%;
    overflow: auto !important;
}

.product-bundle-container:hover{
    cursor: pointer;
}
.single-product-bundle-container{
    max-width:220px !important;
    position: relative;
}
.single-product-bundle-container:last-child::after{
    display:none;
}
.single-product-bundle-container::after{
    content: '+';
    display: flex;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(0, -50%);
    color: var(--white);
    background-color: var(--primary);
    border-radius: 50%;
    font-weight: bold;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.single-product-bundle{
    width:70px;
    height:70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
}
.single-product-bundle-container > div{
    height:70px !important;
    overflow: hidden !important;
}

.single-product-bundle-container > strong{
    font-size: 12px !important;
    line-height: normal !important;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/*PREZZO*/
.price-tag {
	display: inline-block;
    width: auto;
    height: 38px;
    background-color: var(--primary);
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;
    border-left: 1px solid var(--primary);
    margin-left: 19px;
    position: relative;
    color: var(--white);
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 38px;
    padding: 0 10px 0 10px;
    z-index: 2;
}
.price-tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid var(--primary);
}
.price-tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}

.btn-not-avaiable{
    border-color:#ef2c4b;
    color:#ef2c4b;
}

/*TAG*/
.tag-item{
    border:2px solid var(--primary);
    color: var(--primary);
    font-size: 13px;
    font-weight: bold;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    transition:0.2s;
}
.tag-item:hover{
    border:2px solid var(--secondary);
    color: var(--secondary);
}


/*TIMER*/
.timer_data{
    background-color:transparent !important;
}
.te_offer_timer_msg_div{
    background-color: var(--primary);
    transform:skew(-0.06turn, 0deg);
    border-radius: 3px;
    border:none !important;
}
.te_offer_timer_msg_div h6{
    font-weight: 600;
}


@media only screen and (max-width: 800px) {
    .single-product-bundle-container > strong{
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    .nav-item .active > span{
        color:var(--primary) !important;
    }

    .js_main_product .custom-radio{
        max-width:80%;
    }
}

/*INFO*/
.te_s_shipping_info_li > span{
    font-size: 13px;
}



@media only screen and (min-width: 920px) {
    .te_product_name{
        margin-top:0;
    }
    .te_product_media, div.owl-stage>div.owl-item>div>img.img{
        height:100% !important;
    }
}