//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Theme colors
$o-theme-color-palettes: (
    (
        alpha: #11b6a8,
        beta: #B9EAE8,
        gamma: #FF6600,
        delta: #FF6600,
        epsilon: #1b7f7e,
    ),
    (
        alpha: #45AADA,
        beta: #B3DCF0,
        gamma: #f74b94,
        delta: #FDC6DD,
        epsilon: #ea3884,
    ),
    (
        alpha: #8578b9,
        beta: #c1badb,
        gamma: #FDF002,
        delta: #FEF994,
        epsilon: #dbb132,
    ),
    (
        alpha: #87bd70,
        beta: #C4E6B5,
        gamma: #fe5e6d,
        delta: #F2BFC5,
        epsilon: #ce2b3a,
    ),
);

// Grays
$o-gray-color-palettes: ();
@each $-palette in $o-theme-color-palettes {
    $o-gray-color-palettes: append($o-gray-color-palettes, (
        'black': #000000,
        '900': lighten(#000, 40%),
        '700': lighten(#000, 55%),
        '600': lighten(#000, 70%),
        '200': lighten(#000, 80%),
        'white': #FFFFFF,
    ));
}

// // Colors
$o-color-palettes: ();
$i: 1;
@each $-palette in $o-theme-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        body: #FFFFFF,
        menu:  #fff,
        footer: #fafafa,
        text: map-get(nth($o-gray-color-palettes, $i), '700'),
        h1: map-get($-palette, 'gamma'),
    ));
    $i: $i + 1;
}
