.choose{
    background-color: #285f8f !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.complete{
    background-color: #449d44 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#search_in_order{
     width: 100%;
    border: none;
    margin-left: 15px;
}

#search_in_order:focus{
    outline: none;
    border:none;
}

/**CARICO**/
.choose_form td{
    padding:5px;
}

.choose_form input, .choose_form select{
    width: 100%;
}